<div class="show">
    <img src=<%= @cocktail["strDrinkThumb"] %>>
    <div class="cocktail-info">
        <h1> <%= @cocktail["strDrink"] %> </h1>
        <h2><%= @cocktail["strCategory"] %></h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Alcoholic</th>
                <td><%= @cocktail["strAlcoholic"] %></td>
            </tr>
            <tr>
                <th scope="row">Glass</th>
                <td><%= @cocktail["strGlass"] %></td>
            </tr>
            <th scope="row">Ingredients</th>
            <td>
                <% @measured_ing.each do |ingredient| %>
                    <%= ingredient.join %>
                    <% if ingredient != @measured_ing.last %>
                        ,
                    <% end %>
                <% end %>
            </td>
            <tr>
                <th scope="row">Instructions</th>
                <td><%= @cocktail["strInstructions"] %></td>
            </tr>
            <tr>
        </tr>
        <tbody>
    </table>
    </div>
</div>